.specialImageSize{
    width: 50vw;
    height: 100%;
}

.card{
    width: max-content;
    justify-content: center;
    
}

.tux {
    max-width: 25%;
    height: auto;
    justify-content: right;
    margin-left: 5rem;
}

#card-text{
    float: left;
}

.resume {
    justify-content: center;
    height: auto;
}

.info {
    margin-bottom: 5rem;
    padding-bottom: ;
}
/* .navbar-dark{

} */
/* 
.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
} */